{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}

	<div class="container">
		<div class="row">
				<div class="col-md-4">
					<div class="card">
						<img src="https://via.placeholder.com/15O" class="card-img-top" alt="...">
						<div class="card-body">
							<h5 class="card-title">{{post.title}}</h5>
							<p class="card-text">{{post.content}}</p>
                            <p class="card-text">{{post.author}} 
                            - 
                            {{post.createdAt|date('d/m/Y')}}</p>
							<a href="/post/{{post.id}}" class="btn btn-primary">Voir plus</a>
						</div>
					</div>
			</div>
		</div>
	{% endblock %}
